body,
html {
    margin: 0;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding:15px 10px 0;
}

#menu-bar,
label {
    display: none;
}

#menu {
    font-size: 35px;
    color: beige;
    line-height: 88px;
    cursor: pointer;
    display: none;
}

#menu-bar:checked~.nav-items>ul {
    left: 0;

}


.logo-container {
    display: flex;
    align-items:center;
    align-self: flex-end;
    flex-basis: 30%;
}
.logo-container img{
    width: 90%;
}


.nav-items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 65%;
}

.nav-items ul {
    padding-left: 0;
}

.nav-items li {
    position: relative;
    padding: 0;
    margin: 0;

    list-style: none;
    display: inline-block;
    z-index: 1;
    margin-right: 32px;

}

li a {
    color: white;
    font-size: large;

    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

li a::before {
    content: "";
    background-color: red;
    position: absolute;
    color: gainsboro;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    height: 3px;
    width: 110%;
    transform: scalex(0);
    transform-origin: right;
    transition: transform .3s linear;
}

li a:hover::before,
a:hover {
    transform: scalex(1);
    transform-origin: left;
    color: #ff4500;
}

.sign-up {
    display: flex;
    justify-content: flex-end;
    flex-basis: 25%;
}

.sign-up a {
    padding: 15px 10px 15px 34px;
    background-color: orangered;
    color: white;
    text-decoration: none;
    clip-path: polygon(21% 4%, 100% 5%, 100% 100%, 0% 100%);
}

.sign-up a:hover {
    background-color: rgb(173, 51, 7);
}



.carousel-inner {
   
    height: 85vh;

}
#third-slide{
    aspect-ratio: 1349/667
}

.carousel-text {
    position: absolute;
    color: white;
    font-family: 'Oswald', sans-serif;
    ;
    top: 150px;
    left: 50px;
    width: 30%;
}
#second-crousel{
  text-align: center;
  top: 40%;
  width:100%;
  left:0;
}

.carousel-item.active .carousel-text>h1 {
    transition: all 0.5s ease 0.3s;
    opacity: 1;

}

.carousel-text>h1 {
    font-weight: bolder;
    font-size: 60px;
    letter-spacing: 3px;
    opacity: 0;

}

.carousel-item.active .carousel-text>h3 {
    transition: all 0.5s ease 0.3s;
    opacity: 1;
}

.carousel-item .carousel-text>h3 {
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 20px;
    opacity: 0;

}




                            /*second page css*/
                        /* Feature item section */

.feature-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(40px + 20%);
    padding-top: 80px;

    height: fit-content;
}

.feature-title {
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}

.feature-title>h3 {
    color: orangered;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.feature-title>h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.feature-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(92, 91, 91);
    padding: 20px 10px;
    flex-basis: 25%;
    text-align: center;

}

.feature>i {
    font-size: 50px;
    margin-bottom: 10px;
    color: orangered;
}

.feature>p {
    width: 200px;
}

.feature-cta {
    margin-top: 40px;
    align-self: center;
}
                            /* available classes section */

.class-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
   background-color: rgb(45, 45, 45);
    color: white;
    margin-top: 20px;
    padding: 25px 10px ;
}
.class-border{
    height: 3px;
    width: 400px;
    position: relative;
    background:orangered;
    border-radius: 50%;
    margin-bottom: 30px;
}

.class-title {
    padding: 25px 0;
    display: flex;
    font-family:'Montserrat', sans-serif;
    font-weight:800;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* text-shadow: 5px 5px 8px black; */
}

.class-title h1 span {
    font-weight: 800;
    font-size: inherit;
   
}
               
.classes {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;

}
.img-container{
    background-color: black;
    position: relative;
}
.img-container img {
    aspect-ratio: 423/283;
    opacity:0.5;
    display:flex; 
    width:31vw;
}

.class-items {
    display:flex;
    position: relative;
    justify-content: space-between;
   
    overflow: hidden;
   background-color: white;

   }

.class-item-title{
    opacity: 1;
    color: white;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top:80%;
    left:5%;
    width:100%;
    font-size: 1.5vw;
    transition: all 0.6s ease-in-out;  
}
.class-item-title h2{
    font-weight: 600;
}
.class-item-p{
    width:60%;
    display: none;
    font-weight: 400;
    font-size: 1.2vw;
}


   .img-container h2{
    font-size: 160%;
   }
   .class-item-p a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 110%;
   }
   .class-item-p a:hover{
    color:silver;
   }
   .class-item-p a i{
    padding-left: 5%;
   }
.class-1:hover .class-item-title:nth-of-type(1){
top:30%;
}
.class-1:hover .class-item-p:nth-of-type(1){
    display: block;
    }
    .class-1:hover  .img-container:nth-of-type(1){
        background: rgb(220,95,0);
        background: linear-gradient(0deg, rgba(220,95,0,1) 30%, rgba(138,132,132,1) 78%);
    }
   
    .class-2:hover .class-item-title-2{
        top:30%;
        }
        .class-2:hover .class-item-p:nth-of-type(1){
            display: block;
            }
            .class-2:hover  .img-container:nth-of-type(1){
                background: rgb(220,95,0);
                background: linear-gradient(0deg, rgba(220,95,0,1) 30%, rgba(138,132,132,1) 78%);
            }
            .class-3:hover .class-item-title:nth-of-type(1){
                top:30%;
                }
                .class-3:hover .class-item-p:nth-of-type(1){
                    display: block;
                    }
                    .class-3:hover  .img-container:nth-of-type(1){
                        background: rgb(220,95,0);
                        background: linear-gradient(0deg, rgba(220,95,0,1) 30%, rgba(138,132,132,1) 78%);
                    }
                    .class-4:hover .class-item-title:nth-of-type(1){
                        top:30%;
                        }
                        .class-4:hover .class-item-p:nth-of-type(1){
                            display: block;
                            }
                            .class-4:hover  .img-container:nth-of-type(1){
                                background: rgb(220,95,0);
                                background: linear-gradient(0deg, rgba(220,95,0,1) 30%, rgba(138,132,132,1) 78%);
                            }
                            .class-5:hover .class-item-title:nth-of-type(1){
                                top:30%;
                                }
                                .class-5:hover .class-item-p:nth-of-type(1){
                                    display: block;
                                    }
                                    .class-5:hover  .img-container:nth-of-type(1){
                                        background: rgb(220,95,0);
                                        background: linear-gradient(0deg, rgba(220,95,0,1) 30%, rgba(138,132,132,1) 78%);
                                    }



                            /* call to action page */
.cta {
    display: flex;
    position: relative;
    height: 60vh;
    overflow: hidden;
    background-color: black;

}

.cta img {
    aspect-ratio: 16/4;
    min-width: 100vw;
    object-fit: cover;
    vertical-align: top;
    position: relative;
    opacity: 0.3;

}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    position: absolute;
    width:120%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cta-title {
   
    text-align: center;
}

.cta-item {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.cta-item>* {
    border-right: thick solid #ff0000;
    padding-left: 5px;
    text-align: center;
}
                      /* payment plan section */
.payment-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10% 0;
}
.payment-title{
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    font-weight: 800;
}
.payment-title h1{
    font-weight: 800;
}
.payment-title h3{
    color: grey;
}
.payment-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    padding:  40px;
}

.payment-plan {
    text-align: center;
    width: 290px;
    border: 1px solid grey;
    border-radius: 10%;
}

.payment-text {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0 8%;
}

.payment-text p {
    text-align: left;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

.payment-text h3,.payment-text
h2 {
    padding: 5% 0;
    text-align: center;
}
.payment-text-b h3,.payment-text-b
h2 {
    padding: 8% 0;
    text-align: center;
}

.payment-plan h2{
    font-weight: 800;
}

.payment-plan button {
    width: 50%;
    margin: 10% 0;

}

.fa-circle-check {
    padding-right: 10px;
}

.plan-b {
    background-color: #DC5F00;
    color: white;

}
/*community section*/
.community-section{
    display: flex;
   gap:9%;
    
    align-items: center;
   

}
.community-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.community-text{
    display: flex;
    flex-direction: column;
   gap:20px;
    font-family: 'Montserrat',sans-serif;
    margin-top: 10%;
    width:40vw;
    padding-left: 40px;
}
.community-text  div > h1{
    font-weight: 800;
}
.community-border{
height: 3px;
width: 200px;
position: relative;
background:orangered;
border-radius: 50%;
margin-bottom: 30px;


}
.community-images{
    position: relative;
    display:flex;
  
}
.community-images > *{
    position: absolute;
    display: flex;
    width:26vw;
    border-radius: 10px;
    overflow: hidden;
}
.com-1 > *{
    width:100%;
}
.community-images> div:nth-last-of-type(1){
   position: relative;
    left:0;
    top:-20%;
}
.community-images> div:nth-last-of-type(2){
    left:90%;
    top:90%;
}
.community-images> div:nth-last-of-type(3){
    top:170%;
    left:0;

}
.trainers-section{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:50px;
    align-items: center;
    padding-top: 35%;
}
.trainer-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:  'Montserrat',sans-serif;
    width:90vw;
    font-weight: 800;
    text-align: center;
}
.trainers-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:40px;
}
.trainer-img{
    aspect-ratio: 153.3/230;
}
.trainer-links{
   display: flex;
    gap:5%;
   position: absolute;z-index: 100;
   color:silver;
   width:100%;
   justify-content: center;
   top:70%;
   font-size: 250%;
   opacity: 0;
   transition: all 0.7s ease-in-out;
}
.trainer-links a{
    color: silver;
}
.trainer-links a:hover{
    color:orangered;
}
.trainer-1:hover .trainer-links-1{
    opacity: 1;
    top:40%;
}
.trainer-2:hover .trainer-links-2{
    opacity: 1;
    top:40%;
}
.trainer-3:hover .trainer-links-3{
    opacity: 1;
    top:40%;
}
.trainers{
    position:relative;
    font-family:  'Montserrat',sans-serif;
    text-align: center;  
    border: 3px solid grey;
    border-radius: 15px;
    overflow: hidden;
   
}
.boarder{
    height: 3px;
width: 500px;
position: relative;
background:orangered;
border-radius: 50%;
}
 img{
    z-index: 9;
    width:26vw;
}
.trainer-text{
    
}
.trainer-text h3{
    font-size: 19px;
    font-weight: 800;
}
.trainer-text p{
    font-size: 15px;
    
}
.footer{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:5%;
    background-color: #060606;
    color:white;
    font-family:  'Montserrat',sans-serif;
    margin-top: 60px;
    padding: 3% 3% 3% 5%;
}
.footer-item{
    padding-top: 3%;
}

.footer-item > h3{
font-size: 12px;
}
.footer-item > h2{
    font-size: 25px;
}
.footer-logo p{
    width: 35vw;
}
.footer-hours{
    display: flex;
    flex-direction: column;

}



/* responsive csss*/
@media (max-width:1350px) {


    .logo-container {
        flex-basis: 23%;
    }

    .sign-up {
        flex-basis: 18%;
    }

    .nav-items ul li {
        margin-right: 30px;
    }

    .nav-items ul li a {
        color: white;
        font-size: medium;

        text-decoration: none;
        font-family: 'Montserrat', sans-serif;

    }


}

@media (max-width:1125px) {

    #menu,
    label {
        display: block;
    }

    .logo-container {
        flex-basis: 25%;
        justify-content: space-between;
    }

    .sign-up {
        flex-basis: 25%;
    }

    .nav-items {
        flex-basis: 0;
    }


    .nav-items ul {
        position: absolute;
        width: 30%;
        height: fit-content;
        top: 60px;
        left: -336px;
        padding-left: 10px;
        background-color: #DC5F00;
        transition: all .5s;
    }

    .nav-items ul li {
        display: block;
        margin: 20px 0;
        line-height: 20px;
    }

    li a::before {
        background-color: none;
    }

    .carousel-inner {
        height: fit-content;

    }

    .carousel-item .carousel-text>h3 {
        letter-spacing: 2px;
        font-size: 15px;


    }

    .carousel-text>h1 {
        font-size: 40px;
        letter-spacing: 2px;

    }
    .class-text{
        width: 100%;
    }
    .class-text p, .class-text a, .class-text h3{
        font-size: 100%;
    }
    .cta {
        height: 50vh;
    }

    .cta-item {
        font-size:70%;
    }

    .cta-title h1 {
        font-size: 110%;
    }

    .payment-text>h3,
    h2 {
        font-size: 20px;
    }
    .community-text h1{
        font-size: 40px;
    }
    .community-text p{
        font-size: 15px;
    }
    .community-section{
       
    }
}


    @media (max-width:1096px) {
        .plan-b {
            order: 3;
        }
        .community-section{
            width:100%;
            flex-direction: column;
            padding:0px 150px;
        }
        .community-images{
           align-self: flex-start;
           
        }
        .community-images> *{
            width:36vw;
    }
    .community-text{
       align-items: center;
    }
    .community-text>h1{
        text-align: center;
    }
       .community-text > p{
        text-align: center;
        width:60vw;
       }
       .trainers-section{
        padding-top:60% ;
    }
    .footer-logo p{
        width: 25vw;
    }

    }
    @media(max-width:850px){
        .logo-container {
            flex-basis: 28%;
            justify-content: flex-start;
            gap:5%;
        }
        .carousel-text{
            top:40%;
            width:50%;
        }
    
        .sign-up {
            flex-basis: 25%;
        }
        .img-container img {
            width:46vw;
        }
        .footer{
            gap:20%;
        }
        .footer-logo p{
            width:100%;
        }
        .footer-item > h1,  .footer-item > h2,  .footer-item > p{
            font-size: 80%;

        }
       
        .footer-hours{
            flex-direction: row;
            align-items:last baseline;
            justify-content: center;
            order:5;
            width:120%;
        }
        .footer-hours h3{
            border-right: 1px solid white;
            padding-left:3%;
        }
        
       

    }

    @media (max-width:769px) {
        .logo-container h1{
            font-size: 28px;
        }
        span{
            font-size: inherit;
        }
        .sign-up a{
            font-size: 80%;
            padding: 8px 14px 9px 25px;
        }
        #menu{
            font-size: 140%;
        }
        .carousel-item .carousel-text>h3 {
            letter-spacing: 2px;
            font-size: 10px;
        }
        .carousel-text{
            top:35%;
            width:40%;
        }
        .class-text{
            width: 100%;
        }

        .carousel-text>h1 {
            font-size: 25px;
            letter-spacing: 2px;

        }
        .cta {
            height: 40vh;
        }

        .feature-items {
            flex-direction: column;
            gap: 20px;
        }

        .feature {
            width: 60%;
        }

        .logo-container {
            flex-basis: 35%;
          
        }

        .sign-up {
            flex-basis: 35%;

        }
        .class-items{
            justify-content: flex-start;
        }
       
        #carousel-btn{
            font-size: 70%;
        }
        .trainers-container{
          
        }
        img{
            width:36vw;
        }
        .boarder{
            width:400px;
        }
        .community-images{
            left: -10%;
        }
    }

    @media(max-width:490px){
        #menu{
            font-size: 220%;
            line-height: 50px;
        }
        .logo-container{
            justify-content: flex-start;
            gap:5px;
        }
        .logo-container img{
           width:130%;
        }
       .sign-up{
        flex-basis: 40%;
       }
        .sign-up a{
            font-size: 80%;
            padding: 6px 12px 7px 23px;
        }
        .nav-items ul {
            width: 35%;
        }
        .d-block , #third-slide{
            aspect-ratio: 1349/1200;
        }
        
        .carousel-text{
            top:140px;
            left:40px;
            width:50%;
        }
       
       .carousel-text >h1 {
          
            font-size: 28px;
            letter-spacing: 2px;
        
        }
        .carousel-text>h3 {
          
             letter-spacing: 1px;
             font-size: 10px;
           
        }
        #carousel-btn{
            font-size: 60%;
        }
       .classes{
        flex-direction: column;
       }
       .img-container img {
        width:100%;
    }
       .class-item-p{
        font-size: 3.5vw;
       }
       .class-item-title{
        font-size: 6vw;
       }
        .class-text{
            width: 100%;
        }
        .class-text p, .class-text a, .class-text h3{
            font-size: 60%;
        }
        .class-section{
            padding:25px 0 0;
        }
        .community-text {
           padding-left: 0;
        }
        .community-images {
            left: -140px;
        }
        .community-images> * {
            width: 50vw;
        }
        .boarder, .class-border{
            height: 3px;
        width: 300px;
        }
       
        .cta {
            height: 40vh;
        }
        img{
            width:42vw;
        }
        .footer-hours > h3{
            font-size: 50%;
        }
        .footer-about > h3, .footer-contact > h3{
            font-size: 60%;
        }
       
    }